* {
    font-family: "Tektur", sans-serif;
}

*, *::before, *::after {
    transition-property: background-color, border-color, color, fill, box-shadow;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    background-image: linear-gradient(to bottom, #eaeff8, #e1e8fa, #e1e8fa, #d4dffa);
    background-color: #eaeff8;
}

body::before, body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -9999;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}

body::before {
    background-image: linear-gradient(to bottom, #eaeff8, #e1e8fa, #e1e8fa, #d4dffa);
    opacity: 1;
}

body::after {
    background-image: linear-gradient(135deg, #4c4f59, #393c40, #303133);
    opacity: 0;
}

body.dark-theme::before {
    opacity: 0;
}

body.dark-theme::after {
    opacity: 1;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px;
    box-sizing: border-box;
}

.page-transition {
    animation: fadeIn 0.5s ease-out forwards;
}

.internship-badge {
    background-color: transparent;
    color: #000000;
    padding: 10px 20px;
    border-radius: 0;
    border: 1px #000000 solid;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 0 20px 10px;
    cursor: default;
    white-space: nowrap;
    transform: skew(-20deg);
    transition: background-color 0.2s ease;
}

.internship-badge:hover {
    background-color: #000000;
    color: #ffffff;
}

.internship-badge span {
    display: inline-block;
    transform: skew(20deg);
}

.nav-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 0;
}

.nav-buttons a {
    text-decoration: none;
    font-size: 18px;
    padding: 10px 0;
    color: #000000;
    text-transform: uppercase;
    display: inline-block;
    transition: color 0.2s ease;
}

.nav-buttons a:hover {
    color: #003cff;
}

.name {
    padding: 0;
    border-right: none;
    text-align: right;
}

.name a {
    font-size: 96px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    position: relative;
    display: inline-block;
}

.foot {
    z-index: 999;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    user-select: none;
}

.theme-icon, .scroll-to-top .material-icons {
    position: absolute;
    font-size: 24px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 50%;
    transition: opacity 0.5s ease, transform 0.5s ease, background-color 0.5s ease, color 0.5s ease;
    pointer-events: none;
}

.theme-toggle:hover .theme-icon, .scroll-to-top:hover .material-icons {
    color: #333333;
    background-color: #ffffff;
}

.theme-toggle {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sun-icon {
    opacity: 1;
    transform: rotate(0deg);
}

.moon-icon {
    opacity: 0;
    transform: rotate(180deg);
}

.scroll-to-top {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.scroll-to-top.visible {
    opacity: 1;
    visibility: visible;
}

.scroll-to-top .material-icons {
    font-weight: bold;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-theme .sun-icon {
    transform: rotate(-180deg);
    opacity: 0;
}

body.dark-theme .moon-icon {
    transform: rotate(0);
    opacity: 1;
}

@media screen and (max-width: 768px) {
    header {
        position: relative;
        flex-direction: column-reverse;
        padding: 20px;
        gap: 20px;
        width: 100%;
    }

    .name {
        text-align: left;
        width: 100%;
    }

    .name a {
        font-size: 36px;
    }

    .nav-buttons {
        align-items: end;
        width: 100%;
    }

    body.dark-theme .name a,
    body.dark-theme .nav-buttons a,
    body.dark-theme .internship-badge {
        color: #ffffff;
    }

    body.dark-theme .internship-badge {
        border-color: #ffffff;
    }

    body.dark-theme .internship-badge:hover {
        background-color: #ffffff;
        color: #000000;
    }
}

/*.maintenance-container {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100vw;*/
/*    height: 100vh;*/
/*    z-index: 10000;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    text-align: center;*/
/*    background-image: linear-gradient(to bottom, #eaeff8, #e1e8fa, #e1e8fa, #d4dffa);*/
/*    padding: 20px;*/
/*    box-sizing: border-box;*/
/*}*/

/*body.dark-theme .maintenance-container {*/
/*    background-image: linear-gradient(135deg, #4c4f59, #393c40, #303133);*/
/*}*/

/*.maintenance-container h1 {*/
/*    font-size: 150px;*/
/*    color: #ff0000;*/
/*    margin: 0;*/
/*    font-weight: 900;*/
/*    line-height: 1;*/
/*    text-shadow: 4px 4px 15px rgba(255, 0, 0, 0.3);*/
/*}*/

/*.maintenance-container p {*/
/*    font-size: 28px;*/
/*    color: #000000;*/
/*    font-weight: bold;*/
/*    margin-top: 20px;*/
/*}*/

/*body.dark-theme .maintenance-container p {*/
/*    color: #ffffff;*/
/*}*/