* {
    font-family: "Tektur", sans-serif;
    transition: all 0.5s ease;
}

body {
    margin: 0;
    padding: 0;
    opacity: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    background-image: linear-gradient(to bottom, #eaeff8, #e1e8fa, #e1e8fa, #d4dffa);
    animation: fadeIn 1s ease-out 0s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px;
    box-sizing: border-box;
}

.internship-badge {
    background-color: transparent;
    color: #000000;
    padding: 10px 20px;
    border-radius: 0;
    border: 1px #000000 solid;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 0 20px 10px;
    cursor: default;
    white-space: nowrap;
    transform: skew(-20deg);
    transition: background-color 0.2s ease;
}

.internship-badge:hover {
    background-color: #000000;
    color: #ffffff;
}

.internship-badge span {
    display: inline-block;
    transform: skew(20deg);
}

.nav-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 0;
}

.nav-buttons a {
    text-decoration: none;
    font-size: 18px;
    padding: 10px 0;
    color: #000000;
    text-transform: uppercase;
    display: inline-block;
    transition: color 0.2s ease;
}

.nav-buttons a:hover {
    color: #003cff;
}

.name {
    padding: 0;
    border-right: none;
    text-align: right;
}

.name a {
    font-size: 96px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    position: relative;
    display: inline-block;
}

.foot {
    z-index: 999;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.theme-icon, .scroll-to-top .material-icons {
    position: absolute;
    font-size: 24px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 50%;
    transition: opacity 0.5s ease, transform 0.5s ease, background-color 0.5s ease, color 0.5s ease;
    pointer-events: none;
}

.theme-toggle:hover .theme-icon, .scroll-to-top:hover .material-icons {
    color: #333333;
    background-color: #ffffff;
}

.theme-toggle {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sun-icon {
    opacity: 1;
    transform: rotate(0deg);
}

.moon-icon {
    opacity: 0;
    transform: rotate(180deg);
}

.scroll-to-top {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.scroll-to-top.visible {
    opacity: 1;
    visibility: visible;
}

.scroll-to-top .material-icons {
    font-weight: bold;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-theme {
    background-image: linear-gradient(135deg, #4c4f59, #393c40, #303133);
}

body.dark-theme .sun-icon {
    transform: rotate(-180deg);
    opacity: 0;
}

body.dark-theme .moon-icon {
    transform: rotate(0);
    opacity: 1;
}

@media (min-width: 1081px) and (max-width: 1200px) {

}

@media (min-width: 769px) and (max-width: 1080px) {

}

@media screen and (max-width: 768px) {

}