.skiptranslate {
    display: none !important;
}

body {
    top: 0 !important;
}

#goog-gt-tt {
    display: none !important;
}

.goog-te-spinner-pos {
    display: none !important;
}

* {
    font-family: "Tektur", sans-serif;
}

*, *::before, *::after {
    transition-property: background-color, border-color, color, fill, box-shadow;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    background-image: linear-gradient(135deg, #eaeff8, #e1e8fa, #e1e8fa, #d4dffa);
}

body::before, body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -9999;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}

body::before {
    background-image: linear-gradient(135deg, #eaeff8, #e1e8fa, #e1e8fa, #d4dffa);
    opacity: 1;
}

body::after {
    background-image: linear-gradient(175deg, #4c4f59, #393c40, #303133);
    opacity: 0;
}

.page-transition {
    animation: fadeIn 0.5s ease-out forwards;
}

.reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.reveal.visible {
    opacity: 1;
    transform: translateY(0);
}

.hero-section {
    width: 100%;
    position: relative;
    top: 0;
}

.full-width-resume {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section .full-width-resume img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
}

.full-width-resume img {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: contain;
}

.timeline-container {
    position: relative;
    max-width: 1440px;
    margin: 200px auto;
}

.timeline-section {
    position: relative;
    width: 100%;
    margin-bottom: 200px;
}

.timeline-section:last-child {
    margin-bottom: 0;
}

.timeline-content {
    position: relative;
}